      nav {
        background-color: teal;
        width: 50%;
      }
      body {
        background-color: turquoise;
      }
      h1 {
        color:paleturquoise;
      }
      a {
        color:turquoise;
      }