table, th, td {
  border: 5px solid green;
  border-style: outset;
  padding: 5px;
  background-color: forestgreen;
  margin: auto;
}

a {
  color: lime;
}

body {
  color: lightgoldenrodyellow;
  background-color: silver;
}

.return {
  display: block;
  text-align: center;
  color: purple;
  font-size: 30px;
}